VITE_MAIN_API=YOUR_VITE_MAIN_API # Exemple: https://api.movix.rodeo
VITE_TMDB_API_KEY=YOUR_VITE_TMDB_API_KEY # Exemple: 123abc456def7890
VITE_SITE_URL=YOUR_VITE_SITE_URL # Exemple: https://movix.rodeo
VITE_WATCHPARTY_API=YOUR_VITE_WATCHPARTY_API # Exemple: https://watchparty.movix.rodeo
VITE_PROXY_BASE_URL=YOUR_VITE_PROXY_BASE_URL # Exemple: https://proxy.movix.rodeo
VITE_API_PROXY_BASE_URL=YOUR_VITE_API_PROXY_BASE_URL # Exemple: https://api.movix.rodeo
VITE_PROXIES_EMBED_API=YOUR_VITE_PROXIES_EMBED_API # Exemple: https://proxiesembed.movix.rodeo
VITE_RIVESTREAM_PROXIES=YOUR_VITE_RIVESTREAM_PROXIES # Exemple: rivestream-proxy.a.workers.dev,rivestream-proxy.b.workers.dev
VITE_SUPPORT_TELEGRAM_URL=YOUR_VITE_SUPPORT_TELEGRAM_URL # Exemple: https://t.me/movix_site
VITE_TURNSTILE_SITE_KEY=YOUR_VITE_TURNSTILE_SITE_KEY # Exemple: 0x4AAAAAAxxxxxxxxxxxxxxx
VITE_TURNSTILE_INVISIBLE_SITEKEY=YOUR_VITE_TURNSTILE_INVISIBLE_SITEKEY # Turnstile invisible (likes, etc.)
